<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanayru.debug"
    >

  <application>
    <provider
        android:authorities="${applicationId}.shake-installer"
        android:name="com.lanayru.debug.ShakeInstaller"
        android:exported="false"
        />
  </application>

</manifest>
